.canvas-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

.workflow-item {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  background: white;
}

.add-btn {
  position: fixed;
  top: 0px;
  left: 0px;
}

.execute-btn {
  position: fixed;
  top: 0px;
  left: 150px;
}

.save-btn {
  position: fixed;
  top: 0px;
  left: 75px;
}
